nav .brand-logo {
    color: rgb(250,212,107);
}

nav ul a:hover {
    color: rgb(250,212,107);
}

.tabs.tabs-transparent .indicator {
    background-color: rgb(250,212,107);
}

.nav-extended,  
.page-footer,
.btn-large,
.btn  {
    background-color: rgb(54,67,71);
}

.btn-large,
.btn {
    border-width: 2px;
    border: rgb(250,212,107);
    margin-bottom: 2px;
}

.modal .modal-footer .btn {
    margin-left: 2px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .row {
      margin-bottom: 15px;
  }

  .btn-large:hover,
  .btn:hover {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgb(250,212,107);
     color: rgb(54,67,71);
   }

.btn-active {
    background-color: rgb(250,212,107);
    color: rgb(54,67,71);
}

#test1, 
#test2 {
    margin-top: 15px;
}

.card .card-content {
    background-color: rgb(54,67,71);
}

.card .card-action {
    background-color: rgb(54,67,71);

}

.card .card-content.comment-content .card-title {
    line-height: 24px;
    font-size: 18px;
}

.card .card-content.comment-content {
    padding: 12px !important;
}

.card .card-action.comment-action {
    padding: 10px !important;
}

.card .card-action.comment-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    margin-right: 12px;

}

.card .card-action 
a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: rgb(250,212,107);    
}

.card .card-content .card-title {
    margin-bottom: 0px;
}

.valign-bottom {
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
  }

#footer-text {
    color: rgb(250,212,107);
}

.modal .modal-footer .btn-large {
    margin: 6px 0;
    margin-left: 2px;
}

.input-field .prefix.active {
    color: rgb(54,67,71);    
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: rgb(54,67,71) !important;
   }

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(54,67,71) !important;
    box-shadow: 0 1px 0 0 rgb(54,67,71) !important;
   }

